
@import '../abstract/variaveis';
    
.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    .img {
        width: 250px;
    }
    .msg-txt {
        text-align: center;
        h3 {
            font-size: $tamanho-do-texto / 2;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $cor-primaria;
        }
        h4 {
            font-size: $tamanho-do-texto / 2.5;
            font-style: italic;
            margin-bottom: 1rem;
        }
        p {
            font-size: $tamanho-do-texto / 3;
            line-height: 1.2rem;
        }
    }
}